<?xml version="1.0" encoding="utf-8"?>
<module name="config" version="1.0" xmlns="http://www.gooroom.kr/job">

    <param name="module_name" type="string"/>

    <!-- CONFIG_FILE TYPE -->
    <simpleType name="CONFIG_FILE">
        <restriction base="string">
			<enum value="/etc/gooroom/agent/server_certificate.crt"/>
            <enum value="/usr/lib/gooroom-agent-service/module_templates/config.tmpl"/>
            <enum value="/etc/apt/sources.list.d/official-package-repositories.list"/>
            <enum value="/etc/apt/preferences.d/gooroom.pref"/>
            <enum value="/etc/hosts"/>
            <!--<enum value="/etc/gooroom/*/.grac.conf"/> -->
            <enum value="/etc/gooroom/grac.d/user.rules"/> 
            <enum value="/usr/share/gooroom/browser/policies/mainpref.json"/>
            <enum value="/usr/share/gooroom/browser/policies/trust/managed/policy.json"/>
            <enum value="/usr/share/gooroom/browser/policies/untrust/managed/policy.json"/>
        </restriction>
    </simpleType>

    <!-- GET CLIENT CONFIG FILE -->
    <task name="get_client_config">
        <param name="task_name" type="string"/>

        <in>
            <param name="file_name" type="CONFIG_FILE"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
            <param name="file_contents" type="string"/>
        </out>
    </task>

    <!-- GET UPDATE SERVER CONFIG FILE -->
    <task name="get_update_server_config" bootable="yes" mustok="no" priority="3">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="null" seq="null">
        </request>
        <response>
            <param name="file_name_list" type="string_array"/>
            <param name="file_contents_list" type="string_array"/>
            <param name="signature_list" type="string_array"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- APPEND CONTENTS HOSTS -->
    <task name="append_contents_etc_hosts" bootable="yes" mustok="no">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
        </request>
        <response>
            <param name="file_contents" type="string"/>
            <param name="signature" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET AUTHORITY CONFIG -->
    <task name="set_authority_config" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
            <param name="login_id" type="string"/>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="file_name_list" type="string_array"/>
            <param name="file_contents_list" type="string_array"/>
            <param name="signature_list" type="string_array"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET PASSWORD CYCLE -->
    <task name="get_password_cycle">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="password_time" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET SCREEN TIME -->
    <task name="get_screen_time">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="screen_time" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET SECURITY ITEM CONFIG -->
    <task name="set_security_item_config">
        <param name="task_name" type="string"/>

        <in>
            <param name="password_time" type="string"/>
            <param name="screen_time" type="string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET SERVERJOB DISPATCH TIME CONFIG -->
    <task name="set_serverjob_dispatch_time_config">
        <param name="task_name" type="string"/>

        <in>
            <param name="dispatch_time" type="string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET_SERVERJOB_DISPATCH_TIME -->
    <task name="get_serverjob_dispatch_time" bootable="yes" mustok="no">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="null" seq="null">
        </request>
        <response>
            <param name="dispatch_time" type="string"/>
        </response>
        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET_NTP_LIST_CONFIG -->
    <task name="set_ntp_list_config">
        <param name="task_name" type="string"/>

        <in>
            <param name="ntp_list" type="csv_string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET_NTP_LIST_CONFIG -->
    <task name="get_ntp_list_config" bootable="yes" priority="5" mustok="no">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="null" seq="null">
        </request>
        <response>
            <param name="ntp_list" type="csv_string"/>
        </response>
        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET_HYPERVISOR_OPERATION -->
    <task name="set_hypervisor_operation">
        <param name="task_name" type="string"/>

        <in>
            <param name="operation" type="string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET_HYPERVISOR_OPERATION -->
    <task name="get_hypervisor_operation" bootable="yes" mustok="no">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="null" seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="operation" type="string"/>
        </response>
        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET_PACKAGE_OPERATION -->
    <task name="set_package_operation" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
            <param name="operation" type="string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET_PACKAGE_OPERATION -->
    <task name="get_package_operation" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <out>
            <param name="operation" type="string"/>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET SERVER CERTIFICATE -->
    <task name="get_server_certificate" bootable="yes" priority="-1">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
        </request>
        <response>
            <param name="file_contents" type="string"/>
            <param name="signature" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET MEDIA CONFIG -->
    <task name="get_media_config">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="file_contents" type="string"/>
            <param name="signature" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET BROWSER CONFIG -->
    <task name="get_browser_config" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="file_name_list" type="string_array"/>
            <param name="file_contents_list" type="string_array"/>
            <param name="signature_list" type="string_array"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET UPDATE OPERATION WITH LOGINID-->
    <task name="get_update_operation_with_loginid" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
            <param name="login_id" type="string"/>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="operation" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- GET UPDATE OPERATION -->
    <task name="get_update_operation">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
            <param name="login_id" type="string"/>
        </request>
        <response>
            <param name="operation" type="string"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- TELL UPDATE OPERATION -->
    <task name="tell_update_operation" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <out>
            <param name="operation" type="string"/>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET APT CONF -->
    <task name="set_apt_conf" bootable="yes" mustok="no" priority="2">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
        </request>
        <response>
            <param name="update_base_urls" type="string"/>
        </response>
        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- SET GPG KEY -->
    <task name="set_gpg_key" bootable="yes" mustok="no" priority="1">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id='null' seq="null">
        </request>
        <response>
            <param name="update_base_urls" type="string"/>
        </response>
        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>
</module>
