<?xml version="1.0" encoding="utf-8"?>
<module name="LOCAL" version="1.0" xmlns="http://www.gooroom.kr/job">
    <desc>
    </desc>

    <param name="module_name" type="string"/>

    <!-- delete_homefolder -->
    <!-- <task name="delete_homefolder" polltime="300" version="1.1"> -->
    <task name="delete_homefolder">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>
</module>
