<?xml version="1.0" encoding="utf-8"?>
<module name="package" version="1.0" xmlns="http://www.gooroom.kr/job">
    <desc>
    </desc>

    <param name="module_name" type="string"/>

    <!-- install_or_upgrade_package -->
    <task name="install_or_upgrade_package">
        <param name="task_name" type="string"/>

        <in>
            <param name="pkgs" type="csv_string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- remove_package -->
    <task name="remove_package">
        <param name="task_name" type="string"/>

        <in>
            <param name="pkgs" type="csv_string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- upgrade_all -->
    <task name="upgrade_all">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- upgrade_package_with_label -->
    <task name="upgrade_package_with_label">
        <param name="task_name" type="string"/>

        <in>
            <param name="label" type="csv_string"/>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- update_package_version_to_server -->
    <task name="update_package_version_to_server" bootable="yes" mustok="no" priority="8">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="installed" seq="null">
            <param name="id" type="string"/>
            <param name="pkg_list" type="csv_array"/>
        </request>
        <response>
        </response>

        <request id="updating" seq="null">
            <param name="id" type="string"/>
            <param name="pkg_list" type="csv_array"/>
        </request>
        <response>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- insert_all_packages_to_server -->
    <task name="insert_all_packages_to_server">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="head" seq="null">
            <param name="pkg_list" type="csv_array"/>
        </request>
        <response>
        </response>

        <request id="next" seq="null">
            <param name="pkg_list" type="csv_array"/>
        </request>
        <response>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- profiling -->
    <task name="profiling">
        <param name="task_name" type="string"/>

        <in>
            <param name="ref_client_id" type="string"/>
            <param name="removal" type="string"/>
        </in>

        <request id="null" seq="null">
            <param name="ref_client_id" type="string"/>
        </request>
        <response>
            <param name="pkg_list" type="csv_array"/>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <!-- profiling_packages -->
    <task name="profiling_packages">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <request id="head" seq="null">
            <param name="pkg_list" type="csv_array"/>
        </request>
        <response>
        </response>

        <request id="next" seq="null">
            <param name="pkg_list" type="csv_array"/>
        </request>
        <response>
        </response>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

</module>
