<?xml version="1.0" encoding="utf-8"?>
<module name="SERVER" version="1.0" xmlns="http://www.gooroom.kr/job">
    <desc>
    </desc>

    <param name="module_name" type="string"/>

	<!-- grm_heartbit -->
    <task name="grm_heartbit">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="error_reason" type="string"/>
        </out>
    </task>

</module>
