<?xml version="1.0" encoding="utf-8"?>
<module name="SERVER" version="1.0" xmlns="http://www.gooroom.kr/job">
    <desc>
    </desc>

    <param name="module_name" type="string"/>

    <!-- grm_heartbit -->
    <task name="grm_heartbit" dbus="allow">
        <param name="task_name" type="string"/>

        <in>
        </in>

        <out>
            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

    <task name="raise_traffic">
        <param name="task_name" type="string"/>

        <in>
            <param name="traffic_size" type="string"/>
        </in>

        <out>
            <param name="traffic" type="string"/>

            <param name="status" type="string"/>
            <param name="message" type="string"/>
        </out>
    </task>

</module>
